<section id="about" class="section">
    <div class="container grid-2">
        <div class="profile-info">
            <h2>Un Poco Sobre Mí</h2>
            <p class="lead">¡Hola! Soy Mateo Iza, un estudiante de Ingeniería en Software de 21 años con gran entusiasmo por la tecnología y el aprendizaje.</p>
            <p>Desde que inicié mis estudios universitarios, me he dedicado a desarrollar proyectos académicos que me retan a aplicar buenas prácticas de programación y mejorar continuamente mi código. Aunque mis trabajos provienen de la universidad, siempre
                busco optimizar cada detalle y profundizar en tecnologías como JavaScript y control de versiones con Git.</p>
            <p>Fuera del mundo del código, el fútbol es mi gran pasión. Practicar este deporte me ha enseñado la importancia del trabajo en equipo, la disciplina y la perseverancia, valores que llevo a cada proyecto y presentación.</p>
        </div>
        <div class="personal-details">
            <h3>Detalles Personales</h3>
            <ul>
                <li><strong>Nombre:</strong> Juan Mateo Iza Barrionuevo</li>
                <li><strong>Edad:</strong> 21 Años</li>
                <li><strong>Ubicación:</strong>Quito, Ecuador</li>
                <li><strong>Email:</strong> <a href="mailto:mateoiza64&#64;gmail.com">mateoiza64&#64;gmail.com</a></li>
            </ul>
        </div>
    </div>
</section>