<header class="hero">
    <div class="hero-content">
        <div class="profile-image">
            <img src="assets/FotoPerfil.jpg" alt="Foto de Perfil">
        </div>
        <h1>Juan Mateo Iza Barrionuevo</h1>
        <p class="hero-subtitle">Estudiante Universitario</p>
        <ul class="social-links">
            <li>
                <a href="https://www.facebook.com/mateo.iza.1804/" target="_blank">
                    <i class="bi bi-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/MateoJa54" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/mateoizab/" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
</header>