<section id="experience" class="section">
    <div class="container">
        <h2>Mi Experiencia</h2>
        <div class="experience-list">
            <div class="experience-item  p-4 rounded shadow-sm mb-3">
                <h3 class="mb-1">Proyectos Académicos</h3>
                <p class="text-muted mb-2">Universidad "ESPE" | 2022 - Presente</p>
                <p>Como estudiante…</p>
                <ul>
                    <li>Simulador de listas…</li>
                    <li>Aplicaciones web…</li>
                    <li>Gestión de datos…</li>
                </ul>
            </div>
            <div class="experience-item  p-4 rounded shadow-sm">
                <h3 class="mb-1">Trabajo en Equipo…</h3>
                <p class="text-muted mb-2">Proyectos Universitarios</p>
                <p>He trabajado en conjunto…</p>
            </div>
        </div>
    </div>
</section>